<section class="characters-container">

  <!-- Return to home. -->
  <img
  *ngIf="!isLoading"
  class="img-home"
  src="assets/images/rebel.png"
  (mouseenter)="showTooltip()"
  (mouseleave)="hideTooltip()"
  (click)="goToHome()"
  [@homeLinkAnimation]
  >
  <div id="tooltipo-home" class="tooltip">Return to home page</div>

  <!-- Dynamic content. -->
  <div *ngIf="!isLoading" class="dynamic-content" [@contentAnimation]>

    <!-- Characters list. -->
    <div class="char-list">

      <div
        *ngFor="let char of characters; let i = index;"
        id="{{char.url}}"
        class="char-list-item"
        mwlDraggable
        dropData="{{char.url}}"
        (dragEnd)="dragEnd($event)"
      >
        {{char.name}}
      </div>

    </div>
    <!-- /char-list. -->

    <!-- Characters info. -->
    <div class="char-info">

      <!-- Selected characters details. -->
      <div *ngFor="let char of selCharacters; let i = index;" class="char-details">
        
        <h1>{{char.name}}</h1>

        <div class="details">

        </div>

        <div class="close-details">
          X
        </div>

      </div>

      <!-- Droppable area. -->
      <div
        mwlDroppable
        class="dropContainer"
        [class.dropOverActive]="dropOverActive"
        (dragEnter)="dropOverActive = true"
        (dragLeave)="dropOverActive = false"
        (drop)="dropped($event.dropData)"
      >
        <span [hidden]="droppedData">Drop an character to see his data.</span>
        <span [hidden]="!droppedData">{{ droppedData }}</span>
      </div>

    </div>
    <!-- /char-info. -->

  </div>
  <!-- /dynamic-content. -->

</section>